:root {
    --pad-lr-media: 1.6rem;
    --cl-success-area: #5c7;
    --cl-error-text: #fd604e;
    --cl-error-area: #ff5b45;
}

.album-title-container {
    padding: 0 1.5rem 1rem 1.5rem;
    display: none;
}
.is-album .album-title-container {
    display: block;
}
.album-title-container > * {
    line-height: 100%;
}
.album-title-container .back-to-home {
    color: #888;
    padding: .5rem 0;
    user-select: none;
    display: flex;
    align-items: center;
    width: fit-content;
}
.album-title-container .back-to-home img {
    height: 0.9rem;
    display: block;
    margin-right: .15rem;
}
.album-title {
    font-size: 2.25rem;
}
.albums-list {
    padding: .75rem 1.25rem;
    display: grid;
    gap: .5rem;
    grid-template-columns: repeat(3, 1fr);
    user-select: none;
}
@media (max-width: 60rem) {
    .albums-list {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 45rem) {
    .albums-list {
        grid-template-columns: repeat(1, 1fr);
    }
}
.albums-list > div {
    border-radius: .8rem;
    padding: .75rem 1rem;
    display: flex;
}
.album-container {
    border: 1px solid #fafafa;
    background: #fafafa;
}
.album-thumbnail {
    width: 2.5rem;
    height: 2.5rem;
    margin-right: .75rem;
    background: #eaeaea;
    overflow: hidden;
    border-radius: .25rem;
}
.album-thumbnail img {
    display: block;
    width: auto;
    height: 100%;
}
.album-info {
    height: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
}
.album-info .sub {
    line-height: 1rem;
    font-size: 0.9rem;
    color: #666;
}
.album-create img {
    width: 1.1rem;
}
.album-create div {
    line-height: 0;
    padding-left: .25rem;
}
.albums-list .album-create {
    align-items: center;
    justify-content: center;
    color: #999;
    font-size: 0.9rem;
    text-align: center;
    background: none;
    position: relative;
}
.albums-list.empty {
    display: flex;
    align-items: center;
    justify-content: center;
}
.albums-list.empty .album-create {
    border-radius: 1rem;
    height: 2rem;
    width: 15rem;
    margin: 0 auto;
    display: flex;
    border: 1px dashed #ddd;
}
.albums-list:not(.empty) .album-create:before {
  content: "";
  position: absolute;
  border-radius: inherit;
  border: 1px dashed #ddd;
  inset: 1px;
}
.is-album .albums-list {
    display: none;
}




.music-player-container {
    display: flex;
    justify-content: center;
    align-items: stretch;
    padding: .5rem 0 .75rem 0;
    position: relative;
    user-select: none;
}
@media (max-width: 40rem) {
    .music-player-container {
        flex-direction: column;
        align-items: center;
    }
}
.music-player-container.no-songs {
    display: none;
}
.music-player {
    position: relative;
    max-width: 15rem;
    width: 100%;
}
.music-player .album-art-container {
    background: url(/static/default_artwork.svg);
    background-size: cover;
    width: 100%;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
}
.music-player .album-art-container > * {
    width: 100%;
    position: relative;
}
.music-player .album-art-container .cover-bg,
.music-player .album-art-container .cover {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.music-player .album-art-container .cover {
    filter: blur(2.5rem);
}
.music-player .buttons {
    height: 2.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: .75rem;
}
.music-player .buttons .button {
    width: 2.2rem;
    height: 2.2rem;
    margin: 0 .15rem;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: visible;
}
.music-player .buttons img {
    pointer-events: none;
}
.music-player.playing .play {
    display: none;
}
.music-player:not(.playing) .pause {
    display: none;
}
.music-player .play-pause img {
    height: 120%;
    aspect-ratio: 1/1;
}
.music-player .prev img,
.music-player .next img {
    height: 85%;
    aspect-ratio: 1/1;
    transform: scaleX(1.2);
}
.music-player .seeker {
    height: 1.3rem;
    margin: 0 .9rem;
    display: flex;
    align-items: center;
}
.music-player .seeker .slider-inner {
    transition: transform 0.3s ease;
    background: #eee;
    height: .15rem;
    width: 100%;
}
.music-player .seeker:hover .slider-inner {
    transform: scaleY(2); /* Scale vertically on hover */
}
.music-player .seeker .slider-fill {
    background: #555;
}
.music-player .sub-buttons {
    height: 1.25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    margin-top: .1rem;
    margin-bottom: 1rem;
}
.music-player .sub-buttons .button {
    width: 1.25rem;
    height: 1.25rem;
}
.music-player .sub-buttons .button.on {
    box-shadow: 0 0 0 .15rem #ddd;
    border-radius: 0.2rem;
}
.music-player .sub-buttons .button img {
    height: 100%;
    aspect-ratio: 1/1;
}
.music-player .volume-container {
    display: flex;
    align-items: center;
}
.music-player .volume-container .slider {
    height: .25rem;
    width: 4rem;
    margin-left: .5rem;
    background: #eee;
    position: relative;
    border-radius: .125rem;
    overflow: hidden;
}
.music-player .volume-container .slider-fill {
    background: #777;
}
.music-playlist {
    flex: 1;
    overflow-y: scroll;
    list-style: none;
    max-height: 24rem;
}
.music-playlist.edit {
    overflow-y: visible;
    max-height: none;
}
.music-playlist-li {
    border-bottom: 1px dashed #ddd;
    background-color: #fff0;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    line-height: 1.25;
    user-select: none;
    transition: background-color 2.5s ease;
}
.music-playlist-li.dragged {
    background: #fff;
}
.music-playlist-li-drag-wrap {
    box-shadow: 0 .2rem .4rem #aaa3;
    pointer-events: none;
    position: absolute;
    z-index: 1000;
}
.music-playlist-li.edit-target {
    color: #aaa;
    background-color: #f5f5f5;
    transition: background-color 0s;
}
.music-playlist-li .left {
    padding: .6rem 1rem;
    padding-right: 0;
    display: flex;
    flex: 1;
}
.music-playlist-li .info {
    flex: 1;
}
.music-playlist-li .before {
    width: 1.5rem;
    background: url(/static/play.svg);
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: -.8rem;
    background-size: 2rem;
}
.music-playlist-li:not(.playing) .before {
    display: none;
}
.music-playlist-li .artist {
    color: #aaa;
    font-size: 0.9rem;
}
.music-playlist-li .right {
    color: #999;
    display: flex;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
}
.music-playlist.edit .music-playlist-li .right {
    color: #fff0;
    background: url(/static/menu.svg?f=%23d0d0d0&w=20px);
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 70%;
}




.upload-options {
    height: 1.5rem;
    margin-bottom: -1.5rem;
    display: flex;
    justify-content: flex-end;
    padding: 0 .3rem;
}
.cache-album-container label {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
input#cache-album {
    appearance: checkbox;
    -webkit-appearance: checkbox;
    margin-right: 0.3rem;
}
.cache-album-container label > * {
    display: block;
    color: #bbb;
    font-size: 0.8rem;
}



.ffmpeg-log-container {
    padding: 0 1rem;
    margin: 0.5rem 0 1rem 0;
    display: none;
    height: 12rem;
    max-height: 50vh;
}
.ffmpeg-log {
    padding: .5rem 0;
    border: 1px solid #ddd;
    overflow-y: scroll;
    overflow-x: hidden;
    font-size: 0.85rem;
    background: white;
    height: 100%;
}
.ffmpeg-log.full {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 55rem;
    height: 100vh;
    width: 100vw;
    z-index: 1000;
}
.ffmpeg-log span {
    background-color: #fff0;
    display: block;
    padding: 0 .5rem;
    font-family: monospace;
    line-height: 1.15;
    white-space: pre-wrap;
    word-break: break-all;
    transition: background-color 5s;
}
.ffmpeg-log span.focus {
    background-color: rgb(203, 250, 203);
    transition: background-color 0s;
}
.ffmpeg-log span.error {
    color: var(--cl-error-text);
}
.ffmpeg-log span.internal {
    color: #004ae8;
}
